@orange: #FC5B1F;
@black: #000;
@teamNameSize: 36px; 
@playerHeaderSize: 24px; 
@footerColor: #222;

body {
    font-family: Arial;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,cfcfcf+100 */
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #cfcfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbfbfb 0%,#cfcfcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbfbfb 0%,#cfcfcf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbfbfb 0%,#cfcfcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */

    a {
        background: url('../assets/logo.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 184px; 
        width: auto;
        line-height: 0; 
        font-size: 0;
        color: transparent; 
    }
}

#container { 
    padding: 20px;

    h1 {
        font-family: "Batman";
    }

    .player {
        clear: both;
        height: 100%;
        margin-bottom: 20px;
        min-height: 250px;
        width: 48%;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;

        h2 {
            font-size: @playerHeaderSize; 
        }

        img {
            float: left; 
            max-height: 150px;
            margin: 0px 15px 15px 0px;
        } 

        p {
            font-size: 14px;
        }


    }
}

#matches {
    text-align: center;
    width: 100%; 
    
    thead {
        th { 
            text-align: center;
        }
    }
}
footer {
    text-align: center;
    background-color: @footerColor;
    color: #fff;
    height: 200px;
    padding-top: 20px;
}


.clear { clear: both; }


a {
    color: @orange;
    
    &:hover {
        color: @black; 
        text-decoration: none;
    }
}