body {
    font-family: Arial;
}

header {
    text-align: center;

    h1 {
        font-family: "Walkway", Arial; 
        text-transform: uppercase;
    }
}

#container { 

}

footer {
    text-align: center;
}